.animation-arrows .arrow {
  width: 40px;
  height: 40px;
  margin: auto;
  position: relative;
}

.animation-arrows .arrow:before {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 100%;
  border-left: 5px solid rgba(255, 255, 255, 0.7);
  border-bottom: 5px solid rgba(255, 255, 255, 0.7);
  -webkit-transform: translate(5px, 75px) rotate(-45deg);
          transform: translate(5px, 75px) rotate(-45deg);
  -webkit-animation: arrows 2s linear infinite;
          animation: arrows 2s linear infinite;
  cursor: pointer;
}

.animation-arrows .arrow:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 100%;
  border-left: 5px solid rgba(255, 255, 255, 0.7);
  border-bottom: 5px solid rgba(255, 255, 255, 0.7);
  -webkit-transform: translate(30px, 0) rotate(-45deg);
          transform: translate(30px, 0) rotate(-45deg);
  -webkit-animation: arrows 2s linear infinite -1.5s;
          animation: arrows 2s linear infinite -1.5s;
  cursor: pointer;
}

@-webkit-keyframes arrows {
  0% {
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    -webkit-transform: translate(-15px, -30px) rotate(-45deg);
            transform: translate(-15px, -30px) rotate(-45deg);
  }
  10%, 90% {
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
  50% {
    border-left: 5px solid rgba(255, 255, 255, 0.7);
    border-bottom: 5px solid rgba(255, 255, 255, 0.7);
    -webkit-transform: translate(-15px, 0px) rotate(-45deg);
            transform: translate(-15px, 0px) rotate(-45deg);
  }
  100% {
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    -webkit-transform: translate(-15px, 30px) rotate(-45deg);
            transform: translate(-15px, 30px) rotate(-45deg);
  }
}

@keyframes arrows {
  0% {
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    -webkit-transform: translate(-15px, -30px) rotate(-45deg);
            transform: translate(-15px, -30px) rotate(-45deg);
  }
  10%, 90% {
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
  50% {
    border-left: 5px solid rgba(255, 255, 255, 0.7);
    border-bottom: 5px solid rgba(255, 255, 255, 0.7);
    -webkit-transform: translate(-15px, 0px) rotate(-45deg);
            transform: translate(-15px, 0px) rotate(-45deg);
  }
  100% {
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    -webkit-transform: translate(-15px, 30px) rotate(-45deg);
            transform: translate(-15px, 30px) rotate(-45deg);
  }
}

@font-face {
  font-weight: normal;
  font-style: normal;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-weight: normal;
  font-style: normal;
  background-color: #190219;
  color: white;
  font-family: Montserrat;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 25px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container .logo h1 {
  text-transform: uppercase;
  font-size: 66px;
  font-weight: 900;
  color: white;
  padding-right: 30px;
  font-style: italic;
}

.container .logo h1 span {
  color: #ffe900;
  display: inline-block;
}

.container .logo .new-customers {
  cursor: pointer;
  width: 143px;
  height: 51px;
  -webkit-transform: skew(-8deg);
          transform: skew(-8deg);
  background-image: -webkit-gradient(linear, left top, right top, from(#164515), to(#90ba3b));
  background-image: linear-gradient(to right, #164515, #90ba3b);
  font-size: 12px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: italic;
}

.container .middle-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.container .middle-block .main-info {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .middle-block .main-info-up h1 {
  font-size: 140px;
  font-weight: 900;
}

.container .middle-block .main-info-up span {
  font-size: 32px;
  color: #ffe400;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  font-weight: 500;
}

.container .middle-block .main-info-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
  position: relative;
}

.container .middle-block .main-info-middle .top-title {
  width: 118px;
  height: 49px;
  font-size: 24px;
  border: solid 2px #37641f;
  -webkit-transform: skew(-8deg);
          transform: skew(-8deg);
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 8px;
}

.container .middle-block .main-info-middle .title {
  width: 338px;
  -webkit-transform: skew(-8deg);
          transform: skew(-8deg);
  background-color: white;
  font-size: 46px;
  font-weight: 800;
  color: black;
  padding: 12px 24px;
}

.container .middle-block .main-info-middle .subtitle {
  width: 228px;
  font-size: 24px;
  font-weight: 600;
  padding: 12px 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 14px;
  border: solid 2px #37641f;
  -webkit-transform: skew(-8deg);
          transform: skew(-8deg);
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  text-transform: uppercase;
}

.container .middle-block .main-info .sign-up {
  width: 390px;
  height: 90px;
  -webkit-transform: skew(-8deg);
          transform: skew(-8deg);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa71f), to(#fff961));
  background-image: linear-gradient(to right, #ffa71f, #fff961);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  color: black;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
          box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  cursor: pointer;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.container .middle-block .man-and-ball {
  height: 0;
  position: relative;
  z-index: -1;
}

.container .middle-block .man-and-ball .man {
  position: relative;
  top: -131px;
}

.container .middle-block .man-and-ball .ball {
  position: absolute;
  top: 114px;
  left: 0;
}

.container .steps-block {
  width: 677px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container .steps-block p:nth-child(1) {
  width: 242px;
}

.container .steps-block p:nth-child(2) {
  width: 325px;
  margin-top: 40px;
  margin-bottom: 80px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.container .steps-block p:nth-child(3) {
  width: 284px;
}

.container .steps-block p {
  font-size: 32px;
  border: solid 2px #37641f;
  -webkit-transform: skew(-8deg);
          transform: skew(-8deg);
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  padding: 13px 0;
  position: relative;
}

.container .steps-block p::after {
  content: '';
  font-size: 15px;
  text-align: center;
  font-weight: 300;
  position: absolute;
  top: 80px;
  color: #a3a3a3;
  line-height: 1.33;
}

.container .steps-block p:nth-child(1)::after {
  content: "Click on the sign up button to get started";
}

.container .steps-block p:nth-child(2)::after {
  content: "Click on deposit to make use of our multi-channel payment system";
}

.container .steps-block p:nth-child(3):after {
  content: "Get 100% bonus instantly";
}

.container .steps-block p:before {
  content: '';
  width: 42px;
  -webkit-transform: skew(-8deg);
          transform: skew(-8deg);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa71f), to(#fff961));
  background-image: linear-gradient(to right, #ffa71f, #fff961);
  position: absolute;
  top: -22px;
  left: -19px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  color: black;
  padding: 4px 0px;
}

.container .steps-block p:nth-child(1)::before {
  content: "1";
}

.container .steps-block p:nth-child(2)::before {
  content: "2";
}

.container .steps-block p:nth-child(3)::before {
  content: "3";
}

.container .offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 120px;
  padding-bottom: 55px;
}

.container .offer .title-offer {
  max-width: 318px;
  padding: 21px 50px;
  -webkit-transform: skew(-8deg);
          transform: skew(-8deg);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa71f), to(#fff961));
  background-image: linear-gradient(to right, #ffa71f, #fff961);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  color: black;
  text-transform: uppercase;
  font-weight: 900;
  -ms-flex-item-align: center;
      align-self: center;
}

.container .offer .offers-block {
  min-height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 55px;
}

.container .offer .offers-block .item {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .offer .offers-block .item:nth-child(even) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .offer .offers-block .item img {
  height: 42px;
  -webkit-transform: skew(-8deg);
          transform: skew(-8deg);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa71f), to(#fff961));
  background-image: linear-gradient(to right, #ffa71f, #fff961);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  color: black;
  text-transform: uppercase;
  font-weight: 900;
  outline: solid #513c43;
  outline-width: 1px;
  outline-offset: 11px;
  padding: 15px;
}

.container .offer .offers-block .item p {
  font-size: 20px;
  color: white;
  font-weight: normal;
  text-align: center;
  margin-top: 20px;
}

.container .registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .registration .form-block .title {
  width: 240px;
  font-size: 24px;
  border: solid 2px #37641f;
  -webkit-transform: skew(-8deg);
          transform: skew(-8deg);
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  padding: 9px 0;
  margin-left: 8px;
}

.container .registration .form-block form label:not(:first-of-type) {
  padding-left: 10px;
}

.container .registration .form-block form label input {
  width: 330px;
  height: 55px;
  -webkit-transform: skew(-8deg);
          transform: skew(-8deg);
  font-size: 18px;
  outline: none;
  color: #a3a3a3;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .registration button {
  width: 235px;
  height: 55px;
  -webkit-transform: skew(-8deg);
          transform: skew(-8deg);
  background-image: -webkit-gradient(linear, left top, right top, from(#164515), to(#90ba3b));
  background-image: linear-gradient(to right, #164515, #90ba3b);
  -ms-flex-item-align: end;
      align-self: flex-end;
  outline: none;
  border: none;
  font-size: 24px;
  font-weight: 900;
  color: white;
  cursor: pointer;
}

.container footer {
  text-align: center;
}

.container footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
  padding-bottom: 25px;
}

.container footer .icons img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container footer span {
  font-size: 14px;
  color: rgba(110, 108, 110, 0.5);
}

.container .bg img {
  position: absolute;
  z-index: -2;
}

.container .bg .palms .rg-tp-palm {
  top: -125px;
  right: -200px;
}

.container .bg .palms .lf-tp-palm {
  left: -15px;
  top: 300px;
}

.container .bg .palms .lf-bt-palm {
  bottom: 33px;
  left: -215px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.container .bg .palms .rg-bt-palm {
  right: -172px;
  bottom: 90px;
}

.container .bg .dotted {
  top: 0;
  left: 0;
  z-index: -2;
}

.container .bg .tapes .tape-top {
  top: 0;
  left: 0;
}

.container .bg .tapes .tape-middle {
  top: 54%;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.container .bg .tapes .tape-bottom {
  bottom: -14px;
  right: -145px;
  -webkit-transform: rotate(175deg);
          transform: rotate(175deg);
}

@media screen and (max-width: 1090px) {
  .container {
    width: auto;
  }
  .container .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .middle-block {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .middle-block .man-and-ball {
    position: absolute;
  }
  .container .steps-block {
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .steps-block p:nth-child(2) {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    margin: 80px 0;
  }
  .container .offer .offers-block {
    padding: 0 40px;
    padding-top: 40px;
  }
  .container .registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .registration .go-go-go {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
    margin-top: 25px;
  }
  .container footer .icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 850px) {
  .container .middle-block .man-and-ball {
    display: none;
  }
  .container .steps-block .animation-arrows {
    display: none !important;
  }
  .container .registration {
    padding-top: 40px;
  }
  .container .registration .form-block form label input {
    width: 244px;
  }
  .container .offer .offers-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 40px;
  }
  .container .offer .offers-block .item {
    margin-top: 125px;
  }
  .container .offer .offers-block .item p {
    width: auto;
    font-size: 15px;
    bottom: -100px !important;
  }
  .container .offer .offers-block .item:nth-child(even) {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

@media screen and (max-width: 586px) {
  .container .registration .form-block form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .registration .form-block form label:not(:first-of-type) {
    padding-left: 0;
    padding-top: 15px;
  }
}

@media screen and (max-width: 480px) {
  .container .logo h1 {
    font-size: 7vw;
  }
  .container .middle-block .main-info .main-info-up {
    text-align: center;
  }
  .container .middle-block .main-info .main-info-up h1 {
    font-size: 29vw;
  }
  .container .middle-block .main-info .main-info-up span {
    font-size: 7vw;
  }
  .container .middle-block .main-info .main-info-middle .animation-arrows {
    display: none !important;
  }
  .container .middle-block .main-info .main-info-middle .top-title {
    font-size: 6vw;
  }
  .container .middle-block .main-info .main-info-middle .title {
    width: auto;
    font-size: 11vw;
    text-align: center;
  }
  .container .middle-block .main-info .main-info-middle .subtitle {
    font-size: 5vw;
  }
  .container .middle-block .main-info .sign-up {
    width: auto;
    height: auto;
    font-size: 8vw;
  }
  .container .steps-block p {
    width: auto !important;
    font-size: 7vw;
    padding: 10px 15px;
  }
  .container .steps-block p:nth-child(2) {
    margin: 120px 0;
  }
  .container .offer .title-offer {
    text-align: center;
  }
}
/*# sourceMappingURL=index.css.map */